@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text-color   : #fff;
    --color-primary: #38ada9;
    --color-title  : #079992;
    --text-hover   : #fa983a;
}

html {
    scroll-behavior: smooth;
}

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    // font-family   : 'Bai Jamjuree', sans-serif;
    font-family   : "Poppins", sans-serif;
    font-size     : 1.6rem;
    line-height   : 1.5;
    text-rendering: optimizeSpeed;
    overflow-y    : overlay;
}

html::-webkit-scrollbar {
    width          : 10px;
    scrollbar-width: thin;
}

html::-webkit-scrollbar-thumb {
    border-radius   : 10px;
    background-color: rgba(22, 24, 35, 0.1);
    cursor          : pointer;
}

html::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

html::-webkit-scrollbar-thumb:hover {
    background-color: rgba(22, 24, 35, 0.3);
}