.name {
    font-weight  : 700;
    font-size    : 38px;
    margin-bottom: 20px;
    color        : #343a40;
}


.list {

    .item {
        font-size    : 16px;
        margin-bottom: 4px;
    }

    .img {
        margin-top: 16px;
        max-width : 700px;
    }
}